<h1>Ustaad</h1>

<video 
id="id1" #id1 
class="video-js vjs-default-skin vjs-big-play-button vjs-watermark "

data-setup= '
{   "controls": true,
   "autoplay": false,
   "preload": "auto",

  
   "loop":true,
   "width":640,
   "height":480,
   
   "plugins": { "watermark": { "file": "vidizmoLogo.png", "xpos": "50", "ypos": "50" } }
}'
>
<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
<source src="http://vjs.zencdn.net/v/oceans-clip.webm" type="video/webm" />
<source src="http://vjs.zencdn.net/v/oceans-clip.ogv" type="video/ogg" />
<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video> 
